# Pfad zum speichern: /etc/systemd/system/wettersektor_export.service
[Unit]
Description=ServiceUnit zum starten des Wettersektor Export Skriptes
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/weewx_to_wettersektor/wettersektor_export.py

[Install]
WantedBy=multi-user.target